/aula2/nbproject/private/
/aula2/build/
/ficha2/nbproject/private/
/ficha2/build/
/ficha3/nbproject/private/
/ficha3/dist/
/ficha3/build/
/ficha4/nbproject/private/
/Aula4/nbproject/private/
/Aula4/build/
/Aula4/dist/
/Aula5/nbproject/private/
/JavaApplication8/nbproject/private/
/Aula5/build/
/Aula5/dist/
/ficha6/nbproject/private/
/ficha6/build/
/ficha6/dist/
/ficha7/nbproject/private/
/ficha7/build/
/ficha7/dist/
/Projeto1/nbproject/private/
/Projeto1/build/
/Projeto1/dist/
/exemplo/nbproject/private/
/exemplo/build/
/ficha8/nbproject/private/
/ficha8/build/
/SmartTermoAzureIoT/target/
/Sistema_de_seguranca/target/